## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Nadam

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 100
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000
classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df)

application_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_dummies_df['IS_SUCCESSFUL'].values
X = application_dummies_df.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
# Split the data using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [39]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
nn_model = Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(Dense(units=64, activation='leaky_relu', input_dim=input_features))
nn_model.add(Dropout(0.20))

# Second hidden layer
nn_model.add(Dense(units=32, activation='leaky_relu'))
nn_model.add(Dropout(0.20))


# Output layer
nn_model.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 64)                2880

 dropout_14 (Dropout)        (None, 64)                0

 dense_22 (Dense)            (None, 32)                2080

 dropout_15 (Dropout)        (None, 32)                0

 dense_23 (Dense)            (None, 1)                 33

=================================================================
Total params: 4993 (19.50 KB)
Trainable params: 4993 (19.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [40]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="Nadam", metrics=["accuracy"])
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [41]:
# Create a callback that saves the model's weights every 5 epochs
checkpoint_path = 'checkpoints_every_5_epochs/weights.{epoch:02d}.hdf5'
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5 * (len(X_train_scaled) // 32),
    period=5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [42]:
# Train the model
fit_model = nn_model.fit(
    X_train_scaled,
    y_train,
    epochs=200,
    batch_size=32,
    validation_split=0.1,
    callbacks=[early_stopping],
    verbose=1
)

Epoch 1/200
724/724 [==============================] - 4s 3ms/step - loss: 0.6027 - accuracy: 0.7022 - val_loss: 0.5654 - val_accuracy: 0.7213
Epoch 2/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5735 - accuracy: 0.7233 - val_loss: 0.5595 - val_accuracy: 0.7260
Epoch 3/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5674 - accuracy: 0.7264 - val_loss: 0.5567 - val_accuracy: 0.7233
Epoch 4/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5623 - accuracy: 0.7270 - val_loss: 0.5564 - val_accuracy: 0.7237
Epoch 5/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5620 - accuracy: 0.7272 - val_loss: 0.5536 - val_accuracy: 0.7260
Epoch 6/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5617 - accuracy: 0.7277 - val_loss: 0.5558 - val_accuracy: 0.7225
Epoch 7/200
724/724 [==============================] - 2s 3ms/step - loss: 0.5574 - accuracy: 0.7278 - val_loss: 0.5528 - val_accuracy: 0.7221
Epoch 8/200
724/724 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7302 - val_loss: 0.5530 - val_accuracy: 0.7209
Epoch 9/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7289 - val_loss: 0.5510 - val_accuracy: 0.7217
Epoch 10/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7297 - val_loss: 0.5518 - val_accuracy: 0.7241
Epoch 11/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7298 - val_loss: 0.5508 - val_accuracy: 0.7248
Epoch 12/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7287 - val_loss: 0.5519 - val_accuracy: 0.7248
Epoch 13/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7300 - val_loss: 0.5532 - val_accuracy: 0.7252
Epoch 14/200
724/724 [==============================] - 2s 3ms/step - loss: 0.5536 - accuracy: 0.7311 - val_loss: 0.5523 - val_accuracy: 0.7264
Epoch 15/200
724/724 [==============================] - 2s 3ms/step - loss: 0.5545 - accuracy: 0.7306 - val_loss: 0.5521 - val_accuracy: 0.7229
Epoch 16/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7295 - val_loss: 0.5507 - val_accuracy: 0.7225
Epoch 17/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7300 - val_loss: 0.5516 - val_accuracy: 0.7229
Epoch 18/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7313 - val_loss: 0.5523 - val_accuracy: 0.7248
Epoch 19/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7303 - val_loss: 0.5526 - val_accuracy: 0.7213
Epoch 20/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7320 - val_loss: 0.5532 - val_accuracy: 0.7252
Epoch 21/200
724/724 [==============================] - 2s 3ms/step - loss: 0.5525 - accuracy: 0.7322 - val_loss: 0.5507 - val_accuracy: 0.7225
Epoch 22/200
724/724 [==============================] - 2s 3ms/step - loss: 0.5528 - accuracy: 0.7309 - val_loss: 0.5506 - val_accuracy: 0.7225
Epoch 23/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7304 - val_loss: 0.5494 - val_accuracy: 0.7221
Epoch 24/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7307 - val_loss: 0.5536 - val_accuracy: 0.7221
Epoch 25/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7316 - val_loss: 0.5512 - val_accuracy: 0.7221
Epoch 26/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7316 - val_loss: 0.5516 - val_accuracy: 0.7244
Epoch 27/200
724/724 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7323 - val_loss: 0.5512 - val_accuracy: 0.7244
Epoch 28/200
724/724 [==============================] - 3s 4ms/step - loss: 0.5521 - accuracy: 0.7332 - val_loss: 0.5535 - val_accuracy: 0.7209
Epoch 29/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7342 - val_loss: 0.5531 - val_accuracy: 0.7209
Epoch 30/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7305 - val_loss: 0.5515 - val_accuracy: 0.7248
Epoch 31/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7327 - val_loss: 0.5527 - val_accuracy: 0.7233
Epoch 32/200
724/724 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7317 - val_loss: 0.5516 - val_accuracy: 0.7206
Epoch 33/200
724/724 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7320 - val_loss: 0.5501 - val_accuracy: 0.7221

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5538 - accuracy: 0.7273 - 342ms/epoch - 1ms/step
Loss: 0.5538209080696106, Accuracy: 0.7273469567298889

In [17]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE