## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras.callbacks import EarlyStopping


#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 737
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
Other     1529
T6        1216
T5        1173
T19       1065
T8         737
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 287
classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df)

application_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_dummies_df['IS_SUCCESSFUL'].values
X = application_dummies_df.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
# Split the data using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
nn_model = Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(Dense(units=64, activation='relu', input_dim=input_features))
nn_model.add(Dropout(0.05))

# Second hidden layer
nn_model.add(Dense(units=32, activation='relu'))
nn_model.add(Dropout(0.05))


# Output layer
nn_model.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                2816

 dropout (Dropout)           (None, 64)                0

 dense_1 (Dense)             (None, 32)                2080

 dropout_1 (Dropout)         (None, 32)                0

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 4929 (19.25 KB)
Trainable params: 4929 (19.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [14]:
# Create a callback that saves the model's weights every 5 epochs
checkpoint_path = 'checkpoints_every_5_epochs/weights.{epoch:02d}.hdf5'
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5 * (len(X_train_scaled) // 32),
    period=5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [15]:
# Train the model
fit_model = nn_model.fit(
    X_train_scaled,
    y_train,
    epochs=100,
    batch_size=32,
    validation_split=0.1,
    callbacks=[early_stopping],
    verbose=1
)

Epoch 1/100
724/724 [==============================] - 2s 1ms/step - loss: 0.5812 - accuracy: 0.7109 - val_loss: 0.5642 - val_accuracy: 0.7283
Epoch 2/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5603 - accuracy: 0.7271 - val_loss: 0.5594 - val_accuracy: 0.7260
Epoch 3/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5567 - accuracy: 0.7284 - val_loss: 0.5542 - val_accuracy: 0.7237
Epoch 4/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7291 - val_loss: 0.5529 - val_accuracy: 0.7256
Epoch 5/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5525 - accuracy: 0.7290 - val_loss: 0.5559 - val_accuracy: 0.7237
Epoch 6/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7314 - val_loss: 0.5525 - val_accuracy: 0.7225
Epoch 7/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7303 - val_loss: 0.5500 - val_accuracy: 0.7244
Epoch 8/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7317 - val_loss: 0.5526 - val_accuracy: 0.7237
Epoch 9/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7298 - val_loss: 0.5527 - val_accuracy: 0.7260
Epoch 10/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7298 - val_loss: 0.5532 - val_accuracy: 0.7276
Epoch 11/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7319 - val_loss: 0.5511 - val_accuracy: 0.7217
Epoch 12/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7329 - val_loss: 0.5507 - val_accuracy: 0.7248
Epoch 13/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7333 - val_loss: 0.5509 - val_accuracy: 0.7217
Epoch 14/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7325 - val_loss: 0.5505 - val_accuracy: 0.7244
Epoch 15/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7348 - val_loss: 0.5498 - val_accuracy: 0.7237
Epoch 16/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7344 - val_loss: 0.5502 - val_accuracy: 0.7213
Epoch 17/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7315 - val_loss: 0.5495 - val_accuracy: 0.7268
Epoch 18/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7337 - val_loss: 0.5514 - val_accuracy: 0.7268
Epoch 19/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7330 - val_loss: 0.5512 - val_accuracy: 0.7221
Epoch 20/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7355 - val_loss: 0.5517 - val_accuracy: 0.7276
Epoch 21/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7352 - val_loss: 0.5497 - val_accuracy: 0.7248
Epoch 22/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7347 - val_loss: 0.5498 - val_accuracy: 0.7237
Epoch 23/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7350 - val_loss: 0.5499 - val_accuracy: 0.7303
Epoch 24/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7350 - val_loss: 0.5502 - val_accuracy: 0.7229
Epoch 25/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7358 - val_loss: 0.5500 - val_accuracy: 0.7213
Epoch 26/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7365 - val_loss: 0.5493 - val_accuracy: 0.7244
Epoch 27/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7347 - val_loss: 0.5518 - val_accuracy: 0.7248
Epoch 28/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7371 - val_loss: 0.5499 - val_accuracy: 0.7252
Epoch 29/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7356 - val_loss: 0.5491 - val_accuracy: 0.7233
Epoch 30/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7367 - val_loss: 0.5513 - val_accuracy: 0.7283
Epoch 31/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7353 - val_loss: 0.5507 - val_accuracy: 0.7229
Epoch 32/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7361 - val_loss: 0.5509 - val_accuracy: 0.7260
Epoch 33/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7350 - val_loss: 0.5505 - val_accuracy: 0.7279
Epoch 34/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7363 - val_loss: 0.5485 - val_accuracy: 0.7256
Epoch 35/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7363 - val_loss: 0.5520 - val_accuracy: 0.7237
Epoch 36/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7360 - val_loss: 0.5510 - val_accuracy: 0.7256
Epoch 37/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7366 - val_loss: 0.5502 - val_accuracy: 0.7244
Epoch 38/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7361 - val_loss: 0.5512 - val_accuracy: 0.7264
Epoch 39/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7369 - val_loss: 0.5494 - val_accuracy: 0.7256
Epoch 40/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7368 - val_loss: 0.5514 - val_accuracy: 0.7260
Epoch 41/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7369 - val_loss: 0.5518 - val_accuracy: 0.7237
Epoch 42/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7376 - val_loss: 0.5524 - val_accuracy: 0.7244
Epoch 43/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7356 - val_loss: 0.5533 - val_accuracy: 0.7217
Epoch 44/100
724/724 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7371 - val_loss: 0.5539 - val_accuracy: 0.7252

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5522 - accuracy: 0.7311 - 201ms/epoch - 751us/step
Loss: 0.5521948337554932, Accuracy: 0.7310787439346313

In [17]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity_Optimization.h5")

C:\Users\64724\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(